@import "./base.css";

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/NunitoSans-VariableFont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shantell Sans';
  src: url('./fonts/Shantell_Sans-Informal_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.ui-button {
  background-color: var(--violet-500);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: var(--shadow-md);
  transition: all 200ms ease;
  cursor: pointer;
  
  &:hover {
    background-color: var(--violet-600);
    box-shadow: var(--shadow-lg);
  }

  &:disabled {
    background-color: var(--violet-300);
    opacity: 0.6;
    cursor: not-allowed;
  }
}